#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export MODULES_DIR = "debian/calamares-settings-ubuntu-sway/usr/lib/$(DEB_HOST_MULTIARCH)/calamares/modules"
export DATA_USRDIR = "debian/calamares-settings-ubuntu-sway/usr"

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_missing:
	dh_missing
	mkdir -pv $(MODULES_DIR)
	cp -vr common/modules/automirror $(MODULES_DIR)
	mkdir -pv debian/calamares-settings-ubuntu-sway/etc/calamares/modules
	cp -vr common/modules/*.conf debian/calamares-settings-ubuntu-sway/etc/calamares/modules
	chmod -R 755 debian/calamares-settings-ubuntu-sway/usr/lib/
	chmod 644 $(MODULES_DIR)/automirror/automirror.conf
	chmod 644 $(MODULES_DIR)/automirror/module.desc
	mkdir -pv $(DATA_USRDIR)/libexec/
	cp -v common/fixconkeys-part1 $(DATA_USRDIR)/libexec/fixconkeys-part1
	cp -v common/fixconkeys-part2 $(DATA_USRDIR)/libexec/fixconkeys-part2
