[Desktop Entry]
Categories=Qt;System;
Comment[ru_RU]=
Comment=
Exec=install-ubuntusway
GenericName[ru_RU]=
GenericName=
Icon=calamares
Keywords=installer;calamares;system;
MimeType=
Name[ru_RU]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
_Comment=Calamares — System Installer
_GenericName=Install Ubuntu Sway Remix
_Name=Install Ubuntu Sway Remix 22.04 LTS
