[Desktop Entry]
Type=Application
Version=1.0
Name=Install Ubuntu Sway Remix 22.04
GenericName=Install Ubuntu Sway Remix
Exec=sudo -E calamares -D6 -style Fusion
Comment=Calamares — System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system; 
